
:host{
  width: 100%;
  height: 100%;
}

:host([dimension="width"]) .resizer {
  width: 1px;
  width: var(--bar-width, 1px);
  height: 100%;
  //padding: 0 8px;
  cursor: col-resize;
}
:host([dimension="height"]) .resizer {
  height: 1px;
  height: var(--bar-width, 1px);
  width: 100%;
  //padding: 8px 0;
  cursor: row-resize;
}

.resize-panel{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
:host([dimension="height"]) .resize-panel {
  flex-direction: column;
}
slot{
  display: block;
}
slot[name=A]{
  flex: 1 auto;
}
slot[name=B]{
  flex: 1 auto;
}

:host([dimension="width"]) .resizer:after {
  //top: 0;
  //left: 8px;
  height: 100%;
  width: var(--bar-width, 1px);
}
:host([dimension="height"]) .resizer:after {
  //left: 0;
  //top: 8px;
  width: 100%;
  height: var(--bar-width, 1px);
}
.resizer:after {
  content: "";
  position: absolute;
  background-color: var(--bar-color, #333);
}


