<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
  <style>


  </style>
</head>
<body>
<div id="app">
  <div class="left">
    <div class="top bb">
      <button id="prevExam">&xlarr;</button>
      <select name="" id="tutorial">
        <% for (const g in navList) { %>
        <optgroup label="<%=g%>">
          <% for (const p of navList[g]) { %>
          <option value="<%= p.link %>"><%= p.label %></option>
          <% } %>
        </optgroup>
        <% } %>
      </select>
      <button id="nextExam">&xrarr;</button>
    </div>
    <div class="middle bb">
<!--      <iframe id="doc" src="home.html" frameborder="0"></iframe>-->
      <div id="doc"></div>
    </div>
    <div class="bottom"></div>
  </div>
  <div class="main">
    <ez-resize-panel dimension="height" style="--part-a-size: 75%;--bar-color: #dadce0" class="main-panel" >
      <div slot="A" class="editor-panel">
        <ez-resize-panel dimension="width"  class="" >
          <div id="editor" slot="A">

          </div>
          <iframe slot="B" id="preview" src="" frameborder="0" sandbox="allow-popups-to-escape-sandbox allow-scripts allow-popups allow-forms allow-pointer-lock allow-top-navigation allow-modals allow-same-origin"></iframe>
        </ez-resize-panel>
      </div>
      <section slot="B" class="console-panel full">
        <div class="panel-header">
          <h4>Console</h4>
          <button class="console-clear">Clear</button>
        </div>
        <div class="panel-body">
          <div class="console-out">

          </div>
        </div>
      </section>
    </ez-resize-panel>
<!--    <div class="code bb"></div>-->
<!--    <div class="preview bb"></div>-->
<!--    <div class="console bb"></div>-->
    <div class="bottom"></div>
  </div>

</div>

</body>
</html>
